<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Evaluacion Final</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="wrapper">
      <section class="img_hero">
          <header class="menu_header">
              <a href="#"><img class="line_icon" src="./ico-menu.svg"></a>
          </header>
          <div id="title_first" class="title_first">
              <span>ANONYMOUS</span>
              <span>PROXY</span>
              <span class="text_subtitle">In hac habitasse platea dictumst.</span>
            </div>
          <div class="down_buttom">
              <a href="#title_main"><img class="down_icon" src="./ico-scroll-down.svg"></a>
          </div>
      </section>
</div>
<aside>
  <div class="subtitle_aside">
    <span class="subtitle_aside_text">Insomnia Tips</span>
  </div>
  <div class="detail_aside">
  <h4 class="detail_title">Looking Through A Window</h3>
  <p class="detail_text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
</div>
  <div class="buttom_aside">
    <a class="link_aside" href="#">Go</a>
  </div>
</aside>
<main>
  <div class="container_main">
<h3 id="title_main" class="title_main">3 Reasons To Purchase</h3>
<div class="subtitle_main_1">Ut sed metus</div>
  <span class="text_main_1">Lorem ipsum dolor sit amet, consecteur.</span>
<div class="subtitle_main_2">Curabitur ac erat</div>
  <span class="text_main_2">Mauris mattis urna quis lorem molestie.</span>
<div class="subtitle_main_3">Morbi dictum</div>
<span class="text_main_3">Aliquam in dolor et dolor tincidunt.</span>
<div class="buttom_main">
  <a class="link_main" href="#">More reasons</a>
</div>
</div>
</main>
<footer>
  <div class="container_footer">
      <div class="buttom_footer">
          <a href="#title_first"><img class="footer_icon" src="./ico-arrow.svg"></a>
      </div>
  <nav class="content_list_footer">
    <ul class="list_footer_1">
      <li>ARTICLES</li>
      <li>BOOKS</li>
      <li>EVENTS</li>
      <li>REASONS</li>
      <li>TIPS</li>
    </ul>
    <ul class="list_footer_2">
      <li>TWITTER</li>
      <li>INSTAGRAM</li>
      <li>MASTODON.SOCIAL</li>
    </ul>
  </nav>
  <div class="text_footer">
      <p>&copy;2017</p>
      <p>we <span class="text_style">&hearts;</span> components</p>
    </div>
</div>
</footer>
</body>

</html>