<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Evaluacion Final</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <section class="img_hero"></section>
    <header class="menu_header">
      <a href="#" id="menu_on"><img class="line_icon" src="./ico-menu.svg"></a>
    </header>
      <div class="title_first">
        <span class="text_title">ANONYMOUS</span>
        <span class="text_title">PROXY</span>
        <span class="text_subtitle">In hac habitasse platea dictumst.</span>
      </div>
    
</body>

</html>