*{
	box-sizing: border-box;
}
/**************** primer modulo *************/
.img_hero {
	background: url('../images/cover.jpg') center no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	.menu_header {
		width: 44px;
		height: 44px;
		position: fixed;
		background-color: $color-header;
		top: 0;
		.line_icon {
			width: 16px;
			height: 14px;
			position: absolute;
			left: 14px;
			top: 14px;
		}
	}
}	
.box-text {
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $color-general;
}
.title_first {
	width: 100%;
	padding-top: 120px;
	display: flex;
    flex-direction: column;
	text-align: center;
	font-family: $font-text;
	font-size: 2.625rem;
	font-weight: bold;
	line-height: 1.31;
	justify-content: center;
	.text_subtitle {
		font-size: 1rem;
		font-weight: normal;
		font-family: 'Roboto';
	}
}
.buttom_header {
	display: flex;
	justify-content: center;
	.down_buttom {
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	bottom: 50px;
	background-color: $color-general;
		.down_icon {
		width: 20px;
		height: 12px;
		}
	}
}

/**************** termina primer modulo********/

/**************** segundo modulo ****************/
.box-aside {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 45px;
}
.subtitle_aside {
	height: 30px;
	color: $color-subtitle;
	font-family: $font-text;
	font-size: 0.875rem;
	line-height: 2.14;
}
.detail_title {
	font-family: $font-text;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 0;
}
.detail_text {
	font-family: 'Roboto';
	margin-top: 15px;
	font-size: 1.125rem;
	line-height: 1.67;
	color: #4a4a4a;
	text-align: justify;
}
.buttom_aside {
	width: 76px;
	height: 45px;
	border-radius: 22.5px;
	border: 2px solid $color-icons;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 35px;
	margin-top: 35px;
	.link_aside {
		font-size: 1.25rem;
		font-weight: 500;
		text-decoration: none;
		color: $color-icons;
	}
}
.buttom_aside:hover {
	border:2px solid paleturquoise;
	.link_aside {
		color: blue;
		transition: color ease 2s;
	}
}

/***************termina segundo modulo *********/

/*************** tercer modulo *****************/
.container_main {
	width: 100%;
	height: 100%;
	background: $color-main;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	flex-direction: column;
	align-items: center;
	.title_main {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 45px;
		margin-bottom: 0;
		font-family: $font-text;
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 1.25;
		text-align: center;
		grid-column: 1/4;
	}
}
.subtitle_main_1, .subtitle_main_2, .subtitle_main_3 {
	padding-top: 42px;
	font-family: $font-text;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.67;
	text-align: center;
	grid-column: 2/3;
}
.text_main_1, .text_main_2, .text_main_3 {
	font-size: 1.125rem;
	font-weight: normal;
	line-height: 1.67;
	text-align: center;
	grid-column: 2/3;
	padding-left: 10px;
	padding-right: 10px;
}
.buttom_main {
	margin-top: 45px;
	margin-bottom: 50px;
	height: 45px;
	border-radius: 22.5px;
	background-color: $color-icons;
	grid-column: 2/3;
	text-align: center;
	.link_main {
		text-decoration: none;
		font-family: 'Roboto';
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 2.25;
		color: $color-general;
	}
}
.buttom_main:hover {
	background-color: white;
	.link_main:hover {
		color: $color-icons;
		transition: color ease 2s;
	}
}

/*************** termina tercer modulo ************/

/*************** cuarto modulo ********************/

.container_footer {
	background-color: $color-footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.buttom_footer {
	display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	background-color: $color-general;
	top: -20px;
	.footer_icon {
		width: 21px;
		height: 22px;
	}
}
.content_list_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.list_footer_1, .list_footer_2{
	margin-top: 0;
	list-style: none;
	color: $color-general;
	font-size: 1rem;
	line-height: 1.88;
	padding-left: 0;
	text-align: center;
}
.text_footer {
	color: $color-general;
	text-align: center;
	font-size: 0.875rem;
	line-height: 2.14;
	margin-bottom: 20px;
	.text_style {
		color: $color-icons;
	}
}
/************* termina cuarto modulo ************/

/************* mediaqueries ***************/
@media all and (min-width:768px) {
	.box-text {
		margin-left: 39px;
		margin-right: 39px;
	}
	.title_first{
		padding-top: 200px;
		font-size: 5rem;
		line-height: 1.1;
	}
	.text_subtitle {
		font-size: 1.5rem;
		text-align: center;
	}
	.buttom_header {
		.down_buttom {
			bottom: 15px;
		}
	}
	.box-aside {
		margin-left: 39px;
		margin-right: 39px;
	}
	.detail_title {
		height: 45px;
		font-size: 1.625rem;
		font-weight: bold;
		line-height: 1.73;
		margin-bottom: 30px;
	}
	.detail_text {
		font-size: 1.25rem;
		line-height: 1.5;
	}
	.buttom_aside {
		width: 91px;
	}
	.container_main {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		flex-direction: column;
		.title_main {
			margin-left: 39px;
			margin-right: 39px;
			font-size: 1.625rem;
			line-height: 1.73;
		}
	}	
	.subtitle_main_1, .subtitle_main_2, .subtitle_main_3 {
		font-size: 1.5rem;
		line-height: 1.25;
		padding-bottom: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.text_main_1, .text_main_2, .text_main_3 {
		font-size: 1.25rem;
		line-height: 1.5;
		margin-left: 5px;
		margin-right: 5px;
	}
	.subtitle_main_1, .text_main_1 {
		grid-column: 1/2;
		.text_main_1 {
			grid-row: 1/2;
		}
	}
	.subtitle_main_2 {
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.text_main_2 {
		grid-column: 2/3;
	}
	.subtitle_main_3 {
		grid-column: 3/4;
		grid-row: 2/3;
	}
	.text_main_3 {
		grid-column: 3/4;
	}
	.buttom_main {
		grid-column: 2/3;
		text-align: center;
		margin-left: 30px;
		width: 210px;
	}
	
	.content_list_footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 550px;
	}
	.list_footer_2 {
		margin-left: 150px;
		align-self: baseline;
	}
	.container_footer {
		display: flex;
		position: relative;
		justify-content: space-between;
	}
	.text_footer {
		position: absolute;
		align-self: flex-start;
		text-align: start;
		left: 42px;
		top: 38px;
	}
}
/***************** version ordenador**************/
@media all and (min-width:1200px) {
	.box-text {
		margin-left: 270px;
		margin-right: 270px;
	}
	.title_first{
		padding-top: 130px;
		font-size: 6.25rem;
		line-height: 1.2;
	}
	.buttom_header {
		.down_buttom {
		bottom: 6px;
		}
	}
	.box-aside {
		margin-left: 260px;
		margin-right: 260px;
	}
	.subtitle_aside {
		font-size: 1rem;
	}
	.detail_title {
		font-size: 2rem;
	}
	.buttom_aside {
		width: 160px;
	}
	.subtitle_main_1, .subtitle_main_2, .subtitle_main_3 {
		margin-left: 80px;
		margin-right: 80px;
	}
	.text_main_1, .text_main_2, .text_main_3 {
		margin-left: 45px;
		margin-right: 45px;
	}
	.buttom_main {
		width: 255px;
		margin-left: 69px;
	}
}
